@media screen and (max-width: 1440px) and (max-height <= 1440px) {
    .nav-container {
        transform: translate3d(49rem, 3rem, 1rem) !important;
    }
    .hero{
        .hero-blob{
            img{
                width: 45rem !important;
                transform: translate3d(2rem, 4rem, 10px) !important;
            }
            svg{
                transform: translate3d(64rem, -5rem, 10px) !important;
            }
        }
        .container{
            width: 89% !important;
            input{
                width: 12%;
                transform: translateX(-3rem);
            }
            select{
                transform: translateX(-3rem) !important;
                width: 13% !important;
            }
            .hero1{
                transform: translate3d(-1rem, 0px, 10px) !important;
            }
            line{
                margin-left: 42rem !important;
            }
            a{
                transform: translate3d(78px, 0px, 10px) !important;
            }
        }
        .calOne{
            transform: translate3d(58rem, 41rem, 1rem) !important;
        }
        .calTwo{
            transform: translate3d(64rem, 41rem, 1rem) !important;
        }
    }

}
