@media screen and (max-width: 769px) {
  .map-container {
    width: 100% !important;
  }
  .hero .hero-text-container {
    transform: translate3d(2rem, 3rem, -1rem) !important;
  }
  .hero .hero-text-container h1 {
    font-size: 1.4rem;
  }
  .hero .hero-text-container p {
    width: 87% !important;
  }
  .hero .hero-btn {
    transform: translate3d(1rem, 4rem, 1rem) !important;
  }
  .hero .postiton-btn {
    margin-top: 1rem !important;
    margin-left: 2rem !important;
  }
  .hero .hero-blob {
    transform: translate3d(1rem, -4rem, 1rem) !important;
  }
  .hero .hero-blob svg {
    width: 100% !important;
    transform: translate3d(13rem, 18rem, 10px) !important;
  }
  .hero .hero-blob img {
    width: 30rem !important;
    transform: translate3d(-30rem, 18rem, 10px) !important;
  }
  .hero .working-steps {
    margin-top: 62rem !important;
    padding-bottom: 31rem !important;
  }
  .hero .working-steps h2 {
    font-size: 3rem !important;
    text-align: center;
  }
  .hero .working-steps .icon-container .map {
    transform: translate3d(34rem, -4rem, 1rem) !important;
  }
  .hero .working-steps .icon-container .icon {
    box-shadow: var(--box-shadow2) !important;
  }
  .hero .working-steps .icon-container .icon h5 {
    font-size: 1.5rem !important;
  }
  .hero .working-steps .icon-container .icon p {
    font-size: 1rem !important;
  }
  .hero .working-steps .icon-container .calander {
    transform: translate3d(0px, 10rem, 1rem) !important;
    margin-bottom: 20rem !important;
  }
  .hero .working-steps .icon-container .car-icon {
    transform: translate3d(-545px, 20rem, 1rem) !important;
    margin-bottom: 15rem !important;
  }
  .hero .container {
    width: 70% !important;
    display: grid !important;
    height: 41rem !important;
    transform: translate3d(3.5rem, 36rem, 1rem) !important;
    align-items: center !important;
  }
  .hero .container .mobile {
    display: block !important;
    text-align: center;
  }
  .hero .container .Toastify {
    transform: translate3d(0rem, -5rem, 1rem) !important;
  }
  .hero .container input {
    position: relative !important;
    transform: translate3d(0rem, 1rem, 0rem) !important;
    width: 89% !important;
  }
  .hero .container .email {
    transform: translate3d(0rem, 0rem, 0rem) !important;
  }
  .hero .container select {
    width: 89% !important;
    position: relative !important;
    transform: translate3d(0rem, 0rem, 1rem) !important;
  }
  .hero .container .p-calendar {
    transform: translate3d(0rem, -2rem, 1rem) !important;
    width: 94% !important;
  }
  .hero .container #returntime {
    transform: translate3d(0rem, -3rem, 1rem) !important;
  }
  .hero .container a {
    justify-content: center;
    display: flex;
    transform: translateX(0) !important;
    margin-top: -2rem !important;
  }
  .hero .container a button {
    height: 3rem !important;
  }
  .hero .container line {
    width: 0% !important;
  }
  .hero .about-us {
    opacity: 1 !important;
    transform: translate3d(-12rem, 25rem, 1rem) !important;
  }
  .hero .about-us img {
    width: 39% !important;
    margin-top: -17rem !important;
    margin-left: 8rem !important;
  }
  .hero .about-us h1 {
    transform: translate3d(-52rem, -45rem, 1rem) !important;
    width: 37% !important;
    padding: 1rem;
    font-size: 2rem !important;
  }
  .hero .about-us p {
    transform: translate3d(-52rem, -46rem, 1rem) !important;
    width: 34% !important;
    padding: 1rem !important;
  }
  .flex .mobile-adjust {
    position: relative !important;
    width: 31rem !important;
    margin-right: 0rem !important;
  }
  .car-name span {
    width: 100rem !important;
  }
  .car-name .more-info {
    transform: translate3d(-3rem, 0.3rem, 1rem) !important;
  }
  .p-autocomplete {
    transform: translate3d(9rem, 7rem, 1rem) !important;
  }
  .more-info {
    transform: translate3d(-3rem, 1.3rem, 1rem) !important;
  }
  .carpayments {
    transform: translate3d(-7rem, 8.5rem, 1rem) !important;
  }
  .carpayments .month {
    transform: translate3d(4.5rem, -128px, 1rem) !important;
  }
  .carpayments .day {
    transform: translate3d(0.9rem, -128px, 1rem) !important;
  }
  .hide-for-desktop {
    display: block !important;
  }
  .hide-for-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 500px) {
  .nav-bar-under {
    width: 106% !important;
  }
  .nav-bar-under .select-btn {
    transform: translate3d(0rem, -1.5rem, 1rem) !important;
  }
  .hero .hero-text-container {
    transform: translate3d(2rem, 3rem, -1rem) !important;
  }
  .hero .hero-text-container h1 {
    font-size: 2.5rem !important;
  }
  .hero .hero-text-container p {
    width: 87% !important;
  }
  .hero .hero-btn {
    transform: translate3d(1rem, 4rem, 1rem) !important;
  }
  .hero .postiton-btn {
    margin-top: 1rem !important;
    margin-left: 2rem !important;
  }
  .hero .hero-blob {
    transform: translate3d(1rem, 5rem, 1rem) !important;
  }
  .hero .hero-blob svg {
    width: 152% !important;
    transform: translate3d(3rem, -1rem, 10px) !important;
  }
  .hero .hero-blob img {
    width: 26rem !important;
    transform: translate3d(-692px, 7rem, 10px) !important;
  }
  .hero .working-steps {
    margin-top: 40rem !important;
    padding-bottom: 35rem !important;
  }
  .hero .working-steps .icon-container .icon {
    box-shadow: var(--box-shadow2) !important;
  }
  .hero .working-steps .icon-container .icon h5 {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
  .hero .working-steps .icon-container .map {
    transform: translateX(34rem) !important;
    opacity: 1 !important;
    margin-bottom: 25rem !important;
  }
  .hero .working-steps .icon-container .calander {
    transform: translate3d(0px, 10rem, 1rem) !important;
    margin-bottom: 20rem !important;
  }
  .hero .working-steps .icon-container .car-icon {
    transform: translate3d(-545px, 20rem, 1rem) !important;
    margin-bottom: 15rem !important;
  }
  .hero .container {
    width: 70% !important;
    display: grid !important;
    height: 41rem !important;
    transform: translate3d(3.5rem, 36rem, 1rem) !important;
    align-items: center !important;
  }
  .hero .container .mobile {
    display: block !important;
    text-align: center;
  }
  .hero .container .Toastify {
    transform: translate3d(0rem, -5rem, 1rem) !important;
  }
  .hero .container input {
    position: relative !important;
    transform: translate3d(0rem, 1rem, 0rem) !important;
    width: 89% !important;
  }
  .hero .container .email {
    transform: translate3d(0rem, 0rem, 0rem) !important;
  }
  .hero .container select {
    width: 89% !important;
    position: relative !important;
    transform: translate3d(0rem, 0rem, 1rem) !important;
  }
  .hero .container .p-calendar {
    transform: translate3d(0rem, -2rem, 1rem) !important;
    width: 94% !important;
  }
  .hero .container #returntime {
    transform: translate3d(0rem, -3rem, 1rem) !important;
  }
  .hero .container a {
    justify-content: center;
    display: flex;
    transform: translateX(0) !important;
    margin-top: -2rem !important;
  }
  .hero .container a button {
    height: 3rem !important;
  }
  .hero .container line {
    width: 0% !important;
  }
  .hero .about-us {
    opacity: 1 !important;
    transform: translate3d(-12rem, 25rem, 1rem) !important;
  }
  .hero .about-us img {
    width: 35% !important;
    margin-top: -6rem !important;
    margin-left: 8rem !important;
  }
  .hero .about-us h1 {
    transform: translate3d(-52rem, -45rem, 1rem) !important;
    width: 31% !important;
    padding: 1rem;
  }
  .hero .about-us p {
    transform: translate3d(-52rem, -46rem, 1rem) !important;
    width: 29% !important;
    padding: 1rem !important;
  }
  .grouped-cars {
    display: block !important;
    transform: translateX(27rem) !important;
  }
  .footer-car-container {
    top: 285rem !important;
    margin-left: -0.5rem !important;
  }
  .car-container .sports-cars {
    display: grid !important;
    margin-top: -4rem !important;
    justify-content: center !important;
    grid-auto-columns: max-content !important;
    margin-left: -10.5rem !important;
  }
  .car-container .align-center {
    margin-left: -10rem !important;
  }
  .car-container .align-center h1 {
    font-size: 2.5rem !important;
    transform: translateY(-6rem) !important;
  }
  .p-autocomplete {
    transform: translate3d(8rem, 7rem, 1rem) !important;
  }
  .nav-container {
    display: none !important;
  }
  .hide-for-desktop {
    display: block !important;
  }
  .hide-for-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 426px) {
  .hero .hero-text-container {
    transform: translate3d(1rem, 3rem, -1rem) !important;
  }
  .hero .hero-btn .sell-btn {
    transform: translateX(92px) !important;
  }
  .hero .hero-blob svg {
    width: 152% !important;
    transform: translate3d(3rem, 5rem, 10px) !important;
  }
  .hero .hero-blob img {
    width: 26rem !important;
    transform: translate3d(0px, -27rem, 10px) !important;
  }
  .hero .about-us img {
    width: 33% !important;
  }
  .hero .about-us h1 {
    font-size: 3.1rem !important;
  }
  .bg-teal-100 {
    transform: translateX(-6rem) !important;
  }
  .p-autocomplete {
    transform: translate3d(7rem, 7rem, 1rem) !important;
  }
  .car-name {
    transform: translateX(13.5rem) !important;
    margin-top: -1rem !important;
    width: 100% !important;
  }
  .car-name span {
    position: absolute !important;
  }
  .more-info {
    transform: translate3d(-3rem, 0.5rem, 1rem) !important;
  }
  .toggle-btn {
    transform: translateX(-8.5rem) !important;
  }
  .carpayments {
    transform: translate3d(-6rem, 6rem, 1rem) !important;
  }
  .carpayments .month {
    transform: translate3d(6rem, -91px, 1rem) !important;
  }
  .carpayments .day {
    transform: translate3d(2.5rem, -91px, 1rem) !important;
  }
  .icon-info {
    transform: translate3d(-10rem, 14.5rem, 1rem) !important;
  }
  .icon-info2 {
    transform: translate3d(-6.5rem, 15.5rem, 1rem) !important;
  }
  .book-btn-mobile {
    min-width: 18rem !important;
  }
}
@media screen and (max-width: 375px) {
  .hero .hero-text-container {
    transform: translate3d(1rem, 3rem, -1rem) !important;
  }
  .hero .hero-btn .sell-btn {
    transform: translateX(92px) !important;
  }
  .hero .hero-blob svg {
    width: 152% !important;
    transform: translate3d(3rem, 5rem, 10px) !important;
  }
  .hero .hero-blob img {
    width: 26rem !important;
    transform: translate3d(0px, -27rem, 10px) !important;
  }
  .hero .working-steps h2 {
    font-size: 2.2rem !important;
  }
  .hero .working-steps .icon-container .icon p {
    font-size: 0.9rem !important;
  }
  .hero .about-us img {
    width: 32% !important;
    margin-top: -22rem !important;
  }
  .hero .about-us h1 {
    transform: translate3d(-51rem, -45rem, 1rem) !important;
    width: 29% !important;
    margin-left: 63rem !important;
    font-size: 1.8rem !important;
  }
  .hero .about-us p {
    transform: translate3d(-52rem, -46rem, 1rem) !important;
    width: 26% !important;
    padding: 1rem !important;
    font-size: 0.9rem !important;
  }
  .bg-teal-100 {
    transform: translateX(-4.5rem) !important;
  }
  .p-autocomplete {
    transform: translate3d(7rem, 7rem, 1rem) !important;
  }
  .car-name span {
    transform: translate3d(-3rem, -1.5rem, 1rem);
    text-transform: uppercase;
    font-size: 1rem !important;
  }
  .more-info {
    transform: translate3d(-3rem, 0.5rem, 1rem) !important;
  }
  .toggle-btn {
    transform: translateX(-6.5rem) !important;
    margin-top: 0.5rem !important;
  }
  .carpayments {
    transform: translate3d(-4rem, 6rem, 1rem) !important;
  }
  .carpayments .month {
    transform: translate3d(6.5rem, -91px, 1rem) !important;
  }
  .carpayments .day {
    transform: translate3d(3rem, -91px, 1rem) !important;
  }
  .icon-info {
    transform: translate3d(-7.5rem, 14.5rem, 1rem) !important;
  }
  .icon-info2 {
    transform: translate3d(-5rem, 15.5rem, 1rem) !important;
  }
  .book-btn-mobile {
    min-width: 15rem !important;
  }
}
@media screen and (max-width: 320px) {
  .container {
    transform: translate3d(2.5rem, 36rem, 1rem) !important;
  }
  .hero .hero-text-container {
    transform: translate3d(1rem, 3rem, -1rem) !important;
  }
  .hero .hero-btn {
    transform: translate3d(0rem, 4rem, 1rem) !important;
  }
  .hero .hero-btn .sell-btn {
    transform: translateX(92px) !important;
  }
  .hero .hero-blob svg {
    width: 152% !important;
    transform: translate3d(3rem, 5rem, 10px) !important;
  }
  .hero .hero-blob img {
    width: 26rem !important;
    transform: translate3d(0px, -27rem, 10px) !important;
  }
  .hero .working-steps {
    transform: translate3d(0rem, 13rem, 1rem) !important;
  }
  .hero .working-steps h2 {
    font-size: 2rem !important;
  }
  .hero .working-steps .icon-container .icon h5 {
    font-size: 1.5rem !important;
  }
  .hero .working-steps .icon-container .icon p {
    font-size: 0.9rem !important;
    width: 302px !important;
  }
  .hero .about-us img {
    width: 27% !important;
    margin-top: -22rem !important;
    margin-left: 9rem !important;
  }
  .hero .about-us h1 {
    transform: translate3d(-51rem, -45rem, 1rem) !important;
    width: 25% !important;
    margin-left: 63rem !important;
    font-size: 1.5rem !important;
  }
  .hero .about-us p {
    transform: translate3d(-52rem, -46rem, 1rem) !important;
    width: 22% !important;
    padding: 1rem !important;
    font-size: 0.9rem !important;
  }
  .nav-bar-under {
    width: 110% !important;
  }
  .bg-teal-100 {
    transform: translateX(0.5rem) !important;
    margin-top: -4rem !important;
  }
  .p-autocomplete {
    transform: translate3d(4rem, 7rem, 1rem) !important;
  }
  .car-name {
    transform: translateX(9.5rem) !important;
    margin-top: 6rem !important;
    width: 100% !important;
  }
  .car-name span {
    transform: translate3d(-3rem, -1.5rem, 1rem);
    text-transform: uppercase;
  }
  .car-name p {
    transform: translate3d(-3rem, -0.5rem, 1rem) !important;
  }
  .more-info {
    transform: translate3d(-3rem, 0.5rem, 1rem) !important;
  }
  .toggle-btn {
    transform: translateX(-7.5rem) !important;
    margin-top: -3.5rem !important;
  }
  .carpayments {
    transform: translate3d(-3rem, 8rem, 1rem) !important;
  }
  .carpayments .month {
    transform: translate3d(4.5rem, -91px, 1rem) !important;
  }
  .carpayments .day {
    transform: translate3d(1rem, -91px, 1rem) !important;
  }
  .icon-info {
    transform: translate3d(-5.5rem, 14.5rem, 1rem) !important;
  }
  .icon-info .info h6 {
    transform: translate3d(0.2rem, -1.6rem, 1rem) !important;
  }
  .icon-info2 {
    transform: translate3d(-4rem, 15.5rem, 1rem) !important;
  }
  .icon-info2 .info2 h6 {
    transform: translate3d(0.1rem, -1.6rem, 1rem) !important;
  }
  .book-btn-mobile {
    min-width: 13rem !important;
  }
}
:root {
  --main-color-orange:#FD8800;
  --orange:#FFDAB0;
  --orange0:#FFC98A;
  --orange1:#DB8E36;
  --orange2:#9B5300;
  --orange4:#f80;
  --red:rgb(255, 42, 42);
  --box-shadow1: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --box-shadow2:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --focus-ring:#FD8800;
}

.footer-car-container {
  margin-left: -0.5rem !important;
}

.custom-navbar {
  width: 101% !important;
  height: 10% !important;
  transform: translate3d(-1rem, -1rem, 1rem) !important;
  z-index: 1;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding-right: 5rem;
}
.custom-navbar .custom-nav {
  transform: translate3d(-15rem, 0rem, 1rem) !important;
}

.nav-container {
  position: absolute;
  width: 100%;
  height: 5%;
  transform: translate3d(64rem, 3rem, 1rem);
  z-index: 1;
}
.nav-container .nav {
  position: relative;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  font-weight: 400;
  border-radius: 5px;
  z-index: 55;
  opacity: 0.9;
  font-size: 1.3rem;
  margin-left: 1rem;
  transition: all 0.4s ease-in-out;
  transform: translateX(1rem);
}

.button-container {
  transform: translate3d(33rem, -1.7rem, 1rem) !important;
}
.button-container button {
  border-radius: 5px;
  width: 6%;
  height: 2rem;
  color: #FD8800;
  font-weight: 900;
  border: 0px;
  cursor: pointer;
  margin-left: 1rem;
}

.nav-bar-under {
  background-color: #eef1f2;
  border-top: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8;
  padding-top: -5px;
  padding-bottom: -5px;
  transform: translate3d(-1rem, 0rem, 1rem);
  width: 102%;
  height: 2%;
  position: relative;
}
.nav-bar-under .p-selectbutton {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-bar-under .p-selectbutton .p-focus {
  background-color: red !important;
  color: white !important;
  border: 1px solid red !important;
}
.nav-bar-under button {
  transform: translate3d(45rem, -0.5rem, 1rem);
  margin-left: 2.5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 5%;
}

.custom-btn {
  transform: translate3d(105rem, 5.5rem, 1rem) !important;
  background-color: white;
  color: black;
  z-index: 22;
}

.padding-bottom {
  padding-bottom: 2rem !important;
}

.hidden-default {
  display: none;
}
.hidden-default .hidden {
  display: none;
}

.logo-white {
  width: 5rem;
  height: 5rem;
}/*# sourceMappingURL=navbar.css.map */