
:root{
    --main-color-orange:#FD8800;
    --orange:#FFDAB0;
    --orange0:#FFC98A;
    --orange1:#DB8E36;
    --orange2:#9B5300;
    --orange4:#f80;
    --footer:#171717;
    --red:rgb(255, 42, 42);
    --box-shadow1: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --box-shadow2:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.book-btn{
    border-radius: 5px;
    background-color: orange;
    width: 8rem;
    height: 3rem;
    color: white !important;
    font-weight: 900;
    border: 0px;
    box-shadow: var(--box-shadow1);
    cursor: pointer;
}
.postiton-btn{
    margin-top: 24rem;
    position: absolute;
    margin-left: 8rem;

}

.container{
    width: 68%;
    position: absolute;
    justify-content: center;
    align-items: baseline;
    display: flex;
    height: 9rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    transform: translate3d(7rem, 36rem, 1rem);
    z-index: 12;
    border-radius: 5px;
    background-color: white;
    .mobile{
        display: none;
    }
    .returntime{
        transform: translate3d(58rem, 2rem, 1rem) !important;
    }
    .p-calendar{
        transform: translate3d(47rem, 2rem, 1rem);

        input{
            position: relative !important;
        }
    }
    .Toastify{
        transform: translate3d(67rem, -18rem, 1rem);
    }
    input{
        width: 16%;
        padding: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        transform: translateX(-33rem);
        border: 1px var(--main-color-orange) solid;
        border-radius: 5px;
        outline-color: var(--main-color-orange);
        position: absolute;
    }
    .car-input{
        transform: translate3d(-18.5rem, 5rem, 1rem) !important;
    }
    .email{
        transform: translateX(-18.5rem) !important;
    }
    select{
        padding: 1rem;
        border-radius: 5px;
        width: 16%;
        margin-top: 0rem;
        margin-left: 1rem;
        transform: translate3d(-33.3rem, 5rem, 1rem);
        background-color: white;
        cursor: pointer;
        border: 1px var(--main-color-orange) solid;
        outline-color: var(--main-color-orange);
        position: absolute;
    }
    .location{
        transform: translate3d(-33rem, 5rem, 1rem) !important;
    }

    line{
        height: 1%;
        width: 3.5%;
        margin-left: 20rem;
        background-color: lightgray;
        position: absolute;
        transform: rotate(90deg);
        margin-top: 4.5rem;
    }
    .calTwoOutput{
        transform: translate3d(-1.8rem, -7.7rem, 1rem) !important;
        width: 174% !important;
    }
    .date-output{
        position: absolute;
        box-shadow: var(--box-shadow1);
        width: 159%;
        height: 72%;
        transform: translate3d(-2rem, -7.7rem, 1rem);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: rgba(0, 0, 0, 0.3);
        .output-date{
            text-align: center;
            color: white;
        }
    }
    .hero-calander{
        .output-date{
            text-align: center;
        }
       z-index: 1;

       h6{
            font-size: 1rem;
           
       }
     
    }
    .hero1{
        cursor: pointer;
        transform: translate3d(-2rem, 54px, 10px);
        position: absolute;
    }
    .hero2{
        cursor: pointer;
        transform: translate3d(19rem, 54px, 10px);
        position: absolute;
    }
    .play-btn{
        transform: rotate(210deg);
        color: #FD8800;
        font-size: 0.5rem;
        
        position: absolute;
        margin-top: -3.4rem;
        margin-left: 6.5rem;
    }
    .play1{
        margin-left: 6.8rem;
    }
    
    .play-btn-active{
        transform: rotate(30deg) !important;
    }
    .book-btn{
        border-radius: 5px;
        background-color: orange;
        width: 9rem;
        height: 4rem;
        color: white !important;
        font-weight: 900;
        border: 0px;
        box-shadow: var(--box-shadow1);
        cursor: pointer;
    }
    a{
        transform: translate3d(20rem, 28px, 10px);

    }
}

.calOne{
    display: none;
    position: absolute;
    transform: translate3d(40.1rem, 46rem, 1rem);
    z-index: 1;
}
.calTwo{
    display: none;
    position: absolute;
    transform: translate3d(62.1rem, 46rem, 1rem);
    z-index: 1;
}

.calendar-active {
    display: block !important;
}
.calander-icon{
    color: #FD8800;
    position: absolute;
    margin-top: 2.4rem;
    margin-left: -1.5rem;
}
.calander-active{
    display: block !important;
}
